* {
    margin: 0;
    padding: 0;
}

/* body {
    margin: 25px;
}

nav li {
    margin: none;
    list-style: none;
}



li a{
    text-decoration: none;
}

section{
    display: grid;
    flex-direction: column;
} */

.contact-Form{
    display: grid;
    justify-content: center;
    background-color: aqua;
    padding: 20px 0;
    min-height: 100px;
}

.contact-Form form{
    display: inline-block;
    background-color: rgb(127, 87, 246);
    justify-content: center;
    min-width: 300px;
    min-height: 120px;
}